/* nav bar complete */
body {
/* background-image: url(https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjk5NTd9&auto=format&fit=crop&w=1350&q=80); */
/* background-size: cover; */
background-color: whitesmoke;

}
.navbar {
  border-radius: 0;
  background-color: transparent;
  font-family: 'Source Serif Pro', serif;
}

.home {
  height: 100%;
  padding: 7rem 2rem;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1544148103-0773bf10d330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

}

.explore {
  height: 100%;
  padding: 7rem 2rem;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);


}

.review {
  height: 100%;
  padding: 7rem 2rem;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1571989569149-250bd32f5eb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);
}



.navbar-brand {
  color: black;
  
}

/* nav link are the links ex. search explore city... */
.nav-link {
  color: black;
  text-align:right;
  float: right;
  align-content: right;
}

.nav ul {
  list-style: none;
  width: 100%;
  text-align:right
}

.fa-yelp {
  color: #d32223;
}

.form-control {
  display: block;
  width: 35%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}