/* nav bar complete */
body {
/* background-image: url(https://images.unsplash.com/photo-1513322709986-150dad5ad2a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=8); */
}
.navbar {
  border-radius: 0;
  background-color: transparent;
  font-family: 'Source Serif Pro', serif;
}

.jumbotron {
  height: 100%;
  padding: 7rem 2rem;
  background-color: transparent;
  background-image: url(https://images.unsplash.com/photo-1505228395891-9a51e7e86bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1780&q=80);
}


.navbar-brand {
  color: black;
  
}

/* nav link are the links ex. search explore city... */
.nav-link {
  color: black;
  text-align:right;
  float: right;
  align-content: right;
}

.nav ul {
  list-style: none;
  width: 100%;
  text-align:right
}

.fa-yelp {
  color: #d32223;
}