/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D03237;
  font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbar {
  float: left;
  background-color: transparent;
  color: lightgray;
  padding: 6px 10px;
  width: 120px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: bold;
  /* border-bottom: black solid 2px; */
  transition: 0.3s;
}

.searchbar::placeholder {
  color: black;
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar:focus {
  width: 400px;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: black solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  text-decoration: none !important;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
}

.description {
  font-family: 'Source Serif Pro', serif;
  font-size: small;
}