.searchbar {
  float: left;
  background-color: transparent;
  color: black;
  padding: 6px 10px;
  /* width: 120px; */
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: bold;
  border-bottom: black solid 1px;
  transition: 0.3s;
  
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  margin-top: -100px; /* half of you height */
  width: 300px;
  margin-left: -200px /* half of you width */
}

.searchbar::placeholder {
  color: black;
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar:focus {
  width: 400px;
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: black solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  text-decoration: none !important;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;

  
}

.description {
  font-family: 'Source Serif Pro', serif;
  font-size: medium;
}

